@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #0B0C10;
}

/*
    Retira a barra de rolagem da pagina
*/
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 105vw;
}

.acesse p {
    padding: 20px;
    background-color: #222222;
    color: #fff;
}

.acesse p:hover {
    background-color: #000;
    font-weight: 700;
}

a {
    text-decoration: none;
    text-align: center;
}